* {
    margin: 0;
}


body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    align-items: center;
    /* margin-top: 0; (Ajuste de acordo com suas necessidades) */
    transition: margin-top 0.3s ease-in-out;
}

.carousel-container img {
    max-width: 100%;
    height: auto;
}

.larger-image {
    width: 400px;
    border-radius: 10px;
    height: 266px;
}

.smaller-image {
    border-radius: 15px;
    width: 250px;
    height: 180px;
    filter: blur(3px);
}

.carousel-caption h3 {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.recipeList ul {
    position: relative;
    list-style: none;
}

.smaller-image + .carousel-caption h3 {
    color: #fff;
    padding: 5px;
}

nav {
    width: 100vw;
    height: 6.1875rem;
    position: relative;
    background: #090A35 url("/assets/header/4f1cf0a91fdee088f1d0ca9284181252.png") no-repeat center;
    background-size: cover;
    border-bottom: 1rem solid #FF006B;
}

nav img {
    position: relative;
    top: -0.4rem;
}

.navbar i {
    color: rgba(7, 8, 47, 0.65);
    transition: all 0.6s;
}

.navbar i:hover {
    color: #00ccff;
    ;
}

.navbar {
    background: #FF006B;
    width: 30%;
    border-radius: 10px;
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 65%;
    font-size: xxx-large;
    z-index: 1;
}

.carrouselElements {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20%;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    flex-direction: column;
}

.recipeList {
    position: absolute;
    margin-left: 1rem;
    top: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
    /* text-justify: distribute-all-lines; (Removido) */
}

.recipeList h2 {
    color: white;
    background-color: #FF006B;
    border: 10px solid #FF006B;
    text-align: center;
}

.recipeList ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

.recipeList ul li {
    color: white;
    background: #090A35;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: decimal;
}

.recipeList ul li a {
    text-decoration: none;  
}

.recipeList ul li:hover {
    color: #00ccff;
    background-color: #00ccff;
}

.addRecipe {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.detail {
    position: absolute;
    top: 80%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 20%;
        font-size: medium; 
        gap: 10px;
        height: auto;
    }
}

@media screen and (max-width: 1170px) {
    .navbar {
        width: 40%;
        font-size: xx-large;
        height: auto;
    }
}

@media screen and (max-width: 676px) {
    .navbar {
        width: 50%;
        font-size: x-large;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .recipeList {
        padding: 5px;
        transform: scale(90%);
    }

    .recipeList h2 {
        font-size: 18px;
    }

    .recipeList ul li {
        font-size: 14px;
        max-width: 140px;
        margin-bottom: 5px;
    }
}
